<div class="container employee-wrap">
  <div class="btn-group pull-right">
    <button class="btn btn-primary" id="grid" type="button">
      Grid
    </button>
    <button class="btn btn-primary" id="list" type="button" >
      list
    </button>
</div>
  <div class="col-md-12 header">
      <input type="text" class="form-control"  name="search" [(ngModel)]="search"  autocomplete="off" placeholder="search by name..." />
  </div>
  <div class="col-md-12">
    <div class="row emp-view">
      <div class="col-md-12 col-12 emp-col heading-emp">
        <div class="row">
          <div class="col-md-3 col-12 d-flex  align-items-center">
            <div class="employee">
              <h2>ID</h2>
            </div>
          </div>
          <div class="col-md-3 col-12 d-flex  align-items-center">
            <div class="employee">
              <h2>Name</h2>
            </div>
          </div>
          <div class="col-md-3 col-12 d-flex  align-items-center">
            <div class="employee">
              <h2>Age</h2>
            </div>
          </div>
          <div class="col-md-3 col-12 d-flex  align-items-center">
            <div class="employee">
              <h2>Salary</h2>
            </div>
          </div>
        </div>
        
      </div>
      
     
      
        <div class="col-md-12 col-12 emp-col" data-toggle="modal" data-target="#exampleModal"  *ngFor="let emp of employees | filter: search">
          <div class="row">
            <div class="col-md-3 col-12 d-flex  align-items-center">
              <div class="employee" id="id">
                {{emp.id}}
              </div>
            </div>
            <div class="col-md-3 col-12 d-flex  align-items-center">
              <div class="employee" id="name">
                <h2>{{emp.employee_name}}</h2>
              </div>
            </div>
            <div class="col-md-3 col-12 d-flex  align-items-center">
              <div class="employee" id="age">
                <p>{{emp.employee_age}}</p>
              </div>
            </div>
            <div class="col-md-3 col-12 d-flex  align-items-center">
              <div class="employee" id="salary">
                <p>{{emp.employee_salary}}</p>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enployees Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="id row">
          <div class="col-md-2">Id:</div> 
          <div class="col-md-6"><span></span></div>
        </div>
        <div class="name row">
          <div class="col-md-2">Name:</div> 
          <div class="col-md-6"><span></span></div>
        </div>
        <div class="age row">
          <div class="col-md-2">Age:</div> 
          <div class="col-md-6"><span></span></div>
        </div>
        <div class="salary row">
          <div class="col-md-2">Salary:</div> 
          <div class="col-md-6"><span></span></div>
        </div>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>